@charset "UTF-8";
/* CSS Document */
img.thumbnail
{
	background-color: #333333;
	border: solid 3px #333333;
}
/* Global HTML */

html {
	background: #F8F9FF
}

/* Global Body */

body {
	background: #FFFFFF;
	padding: 0px;
	margin-top: 220px;
}

/* Global Header */

h1 {
	font-size: 2.5em;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	
}

/* Global Header 2 */

h2 {
	font-size: 1.5em;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	padding-left: 0.8em;
}

/* Global Paragraphs */

p {
	line-height: 1.25em;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	padding: 1.25em;
}
/* Header */

header {
	display: block;
	text-align: center;
	 
	}

/* Navigation */

nav {
	display: block;
	height: 2.8em;
	background: #FFFFFF;
	text-align: center;
}

/* Banner Header */

div.header
{
	height: 200px;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background-color: #DDDDDD;
	box-shadow: 0px 0px 5px #000000;
	opacity: 0.95;
	filter: alpha(opacity=95);
}

div.header a
{
	font-size: ;
}

nav ul {
	display: block;
}

nav ul li {
	display: inline;
	margin: 0em 0.2em 0em 0.2em;
}

nav ul li a:hover {
	
}

nav ul li a.active {
	
}