
@import url('generic.css');

body, fieldset, label, select, option
{
	font-family: "Calibri", "Tahoma", "Verdana", "Arial";
	color: #222222;
	font-size: 14px;
	padding: 0;
	margin: 0;
	border: 0;
}

body {
	background: #FFFFFF;
}

h1, h2, h3, p
{
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
}

@font-face {
	font-family: bro-header;
	src: url('zenone.bold.ttf');
}

h1, h2, h3
{
	font-family: bro-header;
}

h1 {
	font-size: 35px;
	color: #990000;
}

h2 {
	font-size: 25px;
	color: #4a6fff;
}

h3 {
	font-size: 20px;
	color: #222222;
}

p {
	font-size: 16px;
	line-height: 20px;
	color: #111111;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
}

@media screen and (max-width: 400px) {

	h1 {
		font-size: 20px;
		color: #990000;
	}

	h2 {
		font-size: 16px;
		color: #4a6fff;
	}

	h3 {
		font-size: 13px;
		color: #222222;
	}

	p{
		font-size: 12px;
	}
}

a
{
	color: #666666;
}

a:hover
{
	color: #111111;
}

div.content
{
	min-height: 1500px;
}

div.content-box
{
	border: solid 1px #AAAAAA;
	background-color: #FDFDFD;
	border-radius: 3px;
	box-shadow: 0 0 5px #666666;
	padding: 20px;
	margin: 20px;
}

img.thumbnail
{
	background-color: #333333;
	border: solid 3px #333333;
}

div.nav-box
{
	border: solid 1px #AAAAAA;
	background-color: #EEEEEE;
	border-radius: 3px;
	box-shadow: 0 0 5px #CCCCCC;
	padding: 20px;
}

div.navigation
{
	color: #990000;
	font-weight: bold;
	font-family: Calibri, Verdana;
}

div.sub-content-box
{
	border: solid 1px #AAAAAA;
	background-color: #FDFDFD;
	border-radius: 3px;
	box-shadow: 0 0 5px #CCCCCC;
	padding: 20px;
}

nav ul {
	display: block;
}

nav ul li {
	display: inline;
	margin: 0em 0.2em 0em 0.2em;
}

nav ul li a:hover {
	
}

nav ul li a.active {
	
}

img.portrait
{
	border: solid 1px #999999;
	box-shadow: 0 0 15px #CCCCCC;
}

div.sponsor-thumb
{
    width: 150px;
    height: 150px;
    background-color: #FFFFFF;
    box-shadow: 0 0 10px #EEEEEE;
    border: solid 1px #FFFFFF;
    border-radius: 3px;
    margin: 10px;
    float: left;
}

div.footer p{
    color: #FFFFFF;
}
div.footer
{
    background-color: #111111;
    box-shadow: 0 0 10px #000000;
    padding: 10px;
    overflow: hidden;
    text-align: center;
}
