
@charset "UTF-8";

/* CSS Document */

.float-left
{
	float: left;
}

.float-right
{
	float: right;
}

body, ul, ol, li, p, div, span, a, form, fieldset, label, img, select, option
{
	font-family: Calibri;
	color: #222222;
	font-size: 14px;
	padding: 0;
	margin: 0;
	border: 0;
}

img.thumbnail
{
	background-color: #333333;
	border: solid 3px #333333;
}
/* Global HTML */

html {
	background: #F8F9FF
}

/* Global Body */

body {
	background: #FFFFFF;
	padding: 0px;
	margin-top: 220px;
}

/* Global Header */

h1 {
	font-size: 2.5em;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	
}

/* Global Header 2 */

h2 {
	font-size: 1.5em;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	padding-left: 0.8em;
}

/* Global Paragraphs */

p {
	line-height: 1.25em;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	padding: 1.25em;
}

/* Navigation */

nav {
	display: block;
	height: 2.8em;
	background: #FFFFFF;
	text-align: center;
}

/* Banner Header */

div.header
{
	width: 100%;
	background-color: #111111;
	position: fixed;
	top: 0px;
	left: 0px;
	box-shadow: 0 0 10px #111111;
	opacity: 0.9;
	padding: 15px 0px;
}

div.header-container
{
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
}

li.header-nav-item
{
	list-style: none;
	float: left;
}

li.header-nav-item a
{
	padding: 10px 10px;
	font-size: 16px;
	text-decoration: none;
	color: #CCCCCC;
	font-weight: bold;
}

li.header-nav-item a:hover
{
	border-bottom: solid 2px #990000;
	color: #EEEEEE;
}

div.content
{
	width: 950px;
	min-height: 1500px;
	padding-top: 65px;
	margin-left: auto;
	margin-right: auto;
}

div.content-box
{
	border: solid 1px #AAAAAA;
	background-color: #FDFDFD;
	border-radius: 3px;
	box-shadow: 0 0 5px #CCCCCC;
	padding: 20px;
}

nav ul {
	display: block;
}

nav ul li {
	display: inline;
	margin: 0em 0.2em 0em 0.2em;
}

nav ul li a:hover {
	
}

nav ul li a.active {
	
}