
@charset "UTF-8";

img
{
    border: 0;
}

form
{
    padding: 0;
}

iframe
{
    margin: 0;
    padding: 0;
    border: 0;
    width: 100%;
    height: 100%;
}

a
{
    text-decoration: underline;
    cursor: pointer;
}

a:hover
{
    text-decoration: none;
}

div.collapse
{
    visibility: collapse;
}

div.table
{
    display: table;
    width: 100%;
}

div.table-row
{
    display: table-row;
}

div.table-cell
{
    display: table-cell;
}

.float-left
{
    float: left;
}

.float-right
{
    float: right;
}

.shadow-small
{
    margin: 8px;
    box-shadow: 0 0 8px #666666;
}

.shadow-large
{
    margin: 16px;
    box-shadow: 0 0 16px #666666;
}
